
professorat{
    padding: 30px;
    margin: 30px;
    width: 40%;
    border: 4px dotted blue;
    width: 40%;
}

nom,cognom{
    font-size: 30px;
}

departament{
    padding-top: 20px;
    display: block;
    font-weight: bold;
}

carrec{
    font-style: italic;
    padding-left: 10px;
}

carrec::after{
    content: ",";
}